* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    
}

.main-container {
    border: 1px solid black;
    margin: 100px auto;
    width: 900px;

}

button {
    display: flex;
    width: 100%;
    padding: 30px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.paragraph {
    padding: 10px;
    display: none;
    
}

img {
    width: 5%;
}

